<!--
  Generated template for the PostulantesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Attempt to get data</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
    <ion-item *ngFor="let array of postulantes">
      <ion-card>
          <ion-item>{{array.id}}</ion-item>
          <ion-item>{{array.nombre}}</ion-item>
          <button ion-button round value="{{array.id}}" (click)="clicked($event)">Votar</button>
      </ion-card>
    </ion-item>
</ion-content>
