<ion-header>
  <ion-navbar>
    <ion-title>Databinding</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Nombre: {{nombre}}</h2>
  <ion-item>
    <ion-label fixed>Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="nombre"></ion-input>
  </ion-item>
  <button ion-button (click)="cambiarNombre()">Cambiar Nombre</button>
</ion-content>