<ion-header>
  <ion-navbar>
    <ion-title>
      Services
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Seleccionó a {{postulanteSeleccionado|json}}
  <ion-list>
    <ion-item *ngFor="let postulante of postulantes" (click)="seleccionaPostulante(postulante)">
      <ion-thumbnail item-start>
        <img src="../assets/imgs/{{postulante.imagen}}">
      </ion-thumbnail>
      <h2>{{postulante.nombre}}</h2>
    </ion-item>
  </ion-list>
</ion-content>