<!--
  Generated template for the MuestraVotosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>muestraVotos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list no-lines>
    <button ion-item *ngFor="let item of votos">
      <ion-item>
        <h4>{{item.id}}</h4>
        <h3>{{item.postulanteId}}</h3>
      </ion-item>
    </button> 
  </ion-list>
</ion-content>
