<ion-tabs selectedIndex="1">
  <ion-tab [root]="tab1Root" tabTitle="Votar" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Lista de votos" tabIcon="information-circle"></ion-tab>
</ion-tabs>
